name: my first workflow
run-name: ${{ github.actor }} is learning GitHub Actions
on: [push]

jobs:
  workflow-multi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - run: npm install -g bats
      - run: bats -v

      - name: do something
        uses: ./.github/actions/node-test
